/************* General ********************/
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --white: white;
  --txt-heb-popu: black;
  --bd-filtre: #d9d9d9;
  --color-icon: grey;
  --box-shadow-hotel:rgba(0, 0, 0, 0.1);
}

.fa-solid {
  color: var(--main-color);
}



body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.main-container {
  width: 1440px;
  max-width: 1440px; /* 1400px ??? */
  min-width: 320px;
  padding: 0 50px 0 50px;
}



.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: var(--white);
  border-radius: 20px;
  padding: 5px;
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}




/****************** logo & navigation **********************/
.logo-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  padding-top: 30px;
}

.logo img {
  height: 19px;
  width: 61.09px;
}


.navigation {
  display: flex;
  gap: 68px;
  font-size: 16px;
}

.navigation a {
  text-decoration: none;
  padding-top: 14px;
  color: var(--txt-heb-popu);
}
.navigation a:hover {
  border-top: 2px solid var(--main-color);
  padding-top: 12px;
}






/*********SELECTION**********/
.selection {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.select-titre {
  margin-top: 30px;
  font-size: 22px;
}

.select-p {
  font-size: 16px;
  margin-top: 8px;
}












/******************* search bar ************************/
.search-bar {
  display: flex;
  align-items: center;
  position: relative;
  width: 377px;
  border: 1px solid var(--main-bg-color);
  border-radius: 15px;
  height: 49px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 49px;
  background: var(--main-bg-color);
  border-radius: 15px 0px 0px 15px;
}

.image img {
  height: 20px;
}


.champ {
  border: none;
  text-align: center;
  width: 193px;
  height: 100%;
  font-size: 18px;
}

form {
  height: 100%;
}

input {
  font-weight: 500;
}


.btn-search {
  font-size: 18px;
  height: 49px;
  background: var(--main-color);
  border-radius: 0px 15px 15px 0px;
}

.desktop-search {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  height: 100%;
  width: 132px;
}

.loupe {
  display: none;
}












/****************** Filter-bar ***********************/
.filter-bar {
  display: flex;
  gap: 15px;
}


.title-filter-bar {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.title-filter-bar > h2{
  font-size: 16px;
}


.case {
  display: flex;
  gap: 15px;
  height: 50px;
}

.case1,
.case2 {
  display: flex;
  gap: 15px;
}



.filtres {
  border: 2px solid var(--bd-filtre);
  border-radius: 25px;
  font-weight: 600;
}

.filtres a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}

.filtres a:hover {
  background-color: var(--filter-bg-color);
  border-radius: 25px;
}

.filtre1 {
  width: 173px;
}

.filtre2 {
  width: 134px;
}

.filtre3 {
  width: 170px;
}

.filtre4 {
  width: 167px;
}

aside {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid var(--color-icon);
  border-radius: 50%;
}









/************* Hebergements And Populaires ***************/
main {
  margin-top: 35px;
}

.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 35px;
  box-sizing: border-box;
}








/***************** Hebergements **********************/
#hebergements{
  width: 65.8%;
}


#hebergements h1 {
  margin-bottom: 30px;
}



.haut {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  height: auto;
  width: 100%;
  margin-bottom: 30px;
}

.hotel {
  background-color: var(--white);
  width: 250.33px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px var(--box-shadow-hotel);
}

.lien-hotel {
  display: block;
  height: 100%;
  text-decoration: none;
  color: var(--txt-heb-popu);
}

.hotel img {
  width: 100%;
  height: 124px;
  border-radius: 20px 20px 0 0;
  padding: 5px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 15px;
  height: auto;
}


.nom {
  font-size: 16px;
  font-weight: 700;
}

.prix {
  font-size: 14px;
}


.bas {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  height: auto;
  width: 100%;
  margin-bottom: 30px;
}

.plus {
  font-weight: 700;
  font-size: 18px;
}







/***************** Populaires **********************/
.populaires {
  width: 31%;
  background-size: 100%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.populaires-cards .card {
  margin-top: 33px;
  box-shadow: 0px 3px 15px 0px var(--box-shadow-hotel);
}


.lien-card {
  display: flex;
  text-decoration: none;
  color: var(--txt-heb-popu);
}


.lien-card img {
  width: 37%;
  height: 134px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 63%;
  padding-left: 15px;
}



.card-title {
  margin-top: 11px;
  margin-bottom: 4px;
}

.card-subtitle {
  margin: 0;
}

.card-rating {
  margin-bottom: 7px;
}






/******************* Activité *******************/
#activite {
  padding: 20px;
  margin-bottom: 35px;
}

.activite-titre {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}

#activite a {
  display: block;
  text-decoration: none;
  color: var(--txt-heb-popu);
  height: 100%;
}


.content {
  display: flex;
}

.blocs {
  width: 100%;
  height: 439px;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px var(--box-shadow-hotel);
}

.blocs p {
  font-size: 16px;
  padding: 20px 19px;
  margin-top: -5px;
  font-weight: 700;
}
.blocs img {
  height: 380px;
  border-radius: 20px 20px 0 0;
  width: 100%;
}



img {
  object-fit: cover;
}

.bloc1,
.bloc2,
.bloc3 {
  margin-right: 30px;
}





/****** Footer ***********/
footer {
  display: flex;
  background-color: var(--main-bg-color);
}

.footer-info h2 {
  font-size: 18px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  gap: 15px;
  padding: 20px;
}










/*************** Media queries *****************/
@media (max-width: 1024px) {


  /*filtre*/
  .filter-bar {
    flex-direction: column;
    width: 668px;
  }

  .filtre1 a {
    width: 167px;
  }

  .filtre2 a {
    width: 131px;
  }

  .filtre3,
  .filtre3 a {
    width: 164px;
  }

  .filtre4 a {
    width: 161px;
  }








  /************herbergement and populaire***************/
  .hebergements-and-populaires {
    flex-direction: column;
  }

  #hebergements{
    width: 100%;
  }
  .haut,
  .bas {
    gap: 30px;
    width: 100%;
    height: 100%;
  }

  .lien-hotel,
  .hotel,
  .lien-hotel img {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
    padding: 30px;
  }

  .populaires-cards {
    display: flex;
    width: 100%;
    gap: 20px;
  }

  .card {
    width: 274.66px;
  }

  /***************activité**************/

  .content {
    display: flex;
    gap: 30px;
    width: auto;
  }

  .blocs img,
  .blocs a {
    width: 100%;
    height: 200px;
  }

  .bloc1 img {
    object-fit: none;
  }

  .blocs {
    height: auto;
    width: 100%;
  }

  .blocs {
    margin-right: 0;
  }
}

/************************************************************/

@media (max-width: 768px) {
  .main-container {
    padding: 0;
  }

  .logo-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .logo {
    display: flex;
    justify-content: center;
    padding: 30px;
  }

  .navigation {
    text-align: center;
    gap: 0;
  }

  .navigation a {
    padding-bottom: 14px;
    width: 100%;
    border-bottom: solid 2px var(--filter-bg-color);
  }

  .navigation a:hover {
    border-bottom: 2px solid var(--main-color);
    padding-top: 14px;
    border-top: none;
    color: var(--main-color);
  }

  /************ search bar****************/
  .selection {
    padding: 0 20px;
  }

  .search-bar {
    margin: auto;
    width: 100%;
    gap: 0px;
  }

  .btn-search {
    width: 49px;
  }

  form {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  

  .loupe {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .loupe i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
  }

  .image {
    width: 50px;
  }

  .desktop-search {
    display: none;
  }
  /*********** filter-bar ****************/
  .filter-bar {
    width: 100%;
  }

  .title-filter-bar {
    width: 100%;
  }

  .case {
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .case1, .case2{
    width: 100%;

  }

  .filtres {
    height: 50px;
    width: 100%;
  }

  .filtres a {
    width: 100%;
  }

  /********* hebergements *****************/
  .hebergements-and-populaires {
    width: 100%;
  }

  #hebergements {
    background-color: var(--white);
  }

  .hotel {
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
  }

  .haut, .bas{
    align-items: center;
  }

  .haut,
  .bas,
  .populaires-cards {
    flex-direction: column;
  }

  /******** populaire **********************/
  .populaires {
    display: flex;
    flex-direction: column;
    order: -1;
  }
  .hebergements-and-populaires section{
    border-radius: 0px;
  }

  .populaires-cards {
    align-items: center;
  }

  .card {
    width: 100%;
  }

  /******* activite **********************/
  #activite {
    width: 100%;
    margin: auto;
    padding: 30px;
  }

  .activite-titre {
    margin: auto;
    width: 315px;
    margin-bottom: 30px;
  }

  .content {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .blocs {
    width: 100%;
  }

  /********* footer ************************/
  footer {
    align-items: center;
    flex-direction: column;
    padding: 30px;
  }

  .footer-info {
    width: 100%;
    padding: 0px;
  }

  .info1,
  .info2 {
    margin-bottom: 50px;
  }

  .main-container{
    width: 100%;
  }

  body{
    width: 100%;
  }
}
